<div class="justify-content-center student-dashboard">
    <div class="container text-center mt-5">
        <div class="row">
          <div class="col">
            <div class="card card-student" style="width: 18rem;">
              
                <div class="card-body">
                  <p class="card-text fs-1">Pending</p>
                  <p class="card-text fs-1">5</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card card-student" style="width: 18rem;">
              
                <div class="card-body">
                    <p class="card-text fs-1">Schedule</p>
                     <p class="card-text fs-1">00</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card card-student" style="width: 18rem;">
              
                <div class="card-body">
                    <p class="card-text fs-1">Credit</p>
                    <p class="card-text fs-1">100</p>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>